
<h1> TASK index</h1>


<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task) %></li>
    <%= link_to  "borrar", task_path(task.id), method: :delete, data: { confirm: "estas seguro?" } %>
  <% end %>
</ul>

<%= link_to  "CREAR NUEVA TASK", new_task_path(@task) %>


